<h1>About the app</h1>
<p><b><Generate a story - Implemented by Tal Spector></b></p>
<small>Asks user for a topic, and returns a paragraph long story</small>
<br>
<p><b>Translate a message - Implemented by Robin Buchthal</b></p>
<small>Asks the user for a message and a language, then translates
the message to the given language.</small>
<br>
<p><b>Generate a poem - Implemented by Bisrat Kassie</b></p>
<small>Asks the user for a topic, and then returns a poem based on the given topic.</small>
<br>
<p><b>Generate a joke - Implemented by Ian Ho</b></p>
<small>Asks the user for a type of joke, and then returns a funny joke that is categorized into the provided joke type.</small>
<br>
<p><b>Make a song - Implemented by Dakota Lichauco</b></p>
<small>Asks the user for a prompt, and then returns a song based on the given prompt</small>
<br>
<p><b>Generate a story - Implemented by Tal Spector</b></p>
<small>Asks the user for a topic, then generates a story about the topic.</small>
<br>
<a href="/"><p>Return to Home Page</p></a>