
<body>
    <p><a href="/poem">Bisrat's Project - Poem Generator</a></p>   
    <p><a href="/joke">Ian's Project - Joke Generator</a></p>
    <p><a href="/translate">Robin's Project - Translator</a></p>
    <p><a href="/story">Tal's Project - Story Generator</a></p>
    <p><a href="/song">Dakota's Project - Song Generator</a></p>
</body>

