<body>
    <h1>ChatGPT Joke Generator</h1>
    <form action="/joke" method="POST">
      <label for="joke">Please enter a topiv for your joke below:</label>
      <input type="text" id="joke" name="joke">
      <button type="submit">Generate Joke</button>
    </form>
  </body>
</html>