 <body>
    <h1>ChatGPT Poem Generator</h1>
    <form action="/poem" method="POST">
      <label for="poem">Please enter a topic for your poem below:</label>
      <input type="text" id="poem" name="poem">
      <button type="submit">Generate Poem</button>
    </form>
  </body>
</html>