<body>
    <h1>Team Biographies/Roles</h1>
    <h4>Tal</h4>
    <p>Sophomore Computer Science/Linguistics double major</p>
    <p>Implemented story generator and Index/About pages</p>
    <h4>Robin </h4>
    <p>Sophomore Computer Science major Mathematics minor</p>
    <p>Implemented translator, About page, added the return to home link on some of the pages, and style</p>
    <h4>Bisrat</h4>
    <p>Sophomore Computer Science major Mathematics minor</p>
    <p>Implemented poem generator, worked a bit on the index page, and maintained the repository</p>
    <h4>Ian</h4>
    <p>Sophomore Computer Science and Business major</p>
    <p>Implemented joke generator </p>
     <h4>Dakota</h4>
    <p>Sophomore Computer Science and Applied Math major; music minor</p>
    <p>Implemented song generator</p>
    <p><a href="/">Return to Home Page</a></p>
</body>