<body>
    <body>
        <h1>ChatGPT Translator</h1>
        <h2>Here is your translation!</h2>
        <p><%= translation %></p>
        <a href="/translate">Generate another translation</a>
      </body>
</body>