<body>
    <h1>ChatGPT Translator</h1>
    <form action="/translate" method="POST">
      <label for="translate">Give a phrase to translate of the form "language, text":</label>
      <input type="text" id="input" name="input">
      <button type="submit">Translate</button>
    </form>
  </body>
</html>